// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.

#define APP_FILE_NAME "GraphingImpl"
#define APP_FILE_IS_EXE
#define APP_PRODUCT_NAME "Basin Calculator Graphing Implementation"
#define APP_COMPANY_NAME "dgrtygry2"
#define APP_COPYRIGHT "\251 Free and open source."

#include "../build/appversion.rc"
