// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.

#define APP_FILE_NAME "TraceLogging"
#define APP_FILE_IS_EXE
#define APP_PRODUCT_NAME "Basin Calculator TraceLogging"
#define APP_COMPANY_NAME "dgrtygry2"
#define APP_COPYRIGHT "\251 free and open source 2025"

#include "../build/appversion.rc"
